header, hgroup, nav, footer, figure, figcaption, aside, section, article {display: block;}

html, body {height: 100%;}

body {background-color: #3F0066; 
      /*background-image: linear-gradient(to bottom, #333333, #330066);*/
      color: #CCCC00;
      text-shadow: -1.25px -1.25px 0px #000, 1.25px 1.25px 0px #000, 1.25px -1.25px 0px #000, -1.25px 1.25px 0px #000;
      font-family: 'Handlee', Aharoni, Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 1em;
      display: flex;
      flex-direction: column;
      width: 90%;
      margin-right: auto; 
      margin-left: auto; 
      margin: 0 auto;
    }

header {background-color:#9CCB19; 
        color:#AAAAAA;
        text-shadow: -1px -1px 1px #000000, 4px 4px 2px #000000; 
        background-image: url(../images/grasstop.png); 
        background-size: 160px 60px;
        height: 60px;
        margin: 0px;
        text-align: center;
      }

h2 {margin: 5px 0px 0px 0px;
    padding: 10px; 
    font-family: 'MedievalSharp', Rockwell, Georgia, "Times New Roman", cursive;}

#restock {
  position: absolute;
  bottom: 21%;
  left: 6%;
  background-color: #6E4727; /* Green */
  border: 2px solid #666;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#peek {
  position: absolute;
  bottom: 20.8%;
  left: 16%;
  border: 2px solid #666;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: none;
  font-size: 16px;
  opacity: .5;
}

#container {
  background-image: url(../images/shop_background.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  height: 100%;
}

#messages {
  margin: 0 auto;
  text-align: center;
  color: #00AA00; 
  text-shadow: -.25px -.25px 0px #1BB04C, .25px .25px 0px #70AF23, .25px -.25px 0px #1BB04C, -.25px .25px 0px #70AF23;
  width: 40%;
}

.item-imgs {
  width: 20%;
  height: 40%;
}

.price {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #CCCC00;
  text-shadow: -1.25px -1.25px 0px #000, 1.25px 1.25px 0px #000, 1.25px -1.25px 0px #000, -1.25px 1.25px 0px #000;
}

#item-prem {
  position: absolute;
  top: 10px;
  left: 10px;
  background-image: url();
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#item-med {
  position: absolute;
  top: 15px;
  right: 10px;
  background-image: url();
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#item-small-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-image: url();
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#item-small-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-image: url();
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#outer-main {
  margin: 0px auto;
  padding: 5px;
  height: 52%;
  width: 90%;
  position: relative;
}

#main {
  margin: 0 auto;
  padding: 0px;
  height: 100%;
  width: 90%;
  position: absolute;
  left: 5%;
  top: 16%;
}

.rupee-value {
  display: inline;
}

#rupee-values {
  display: none;
}

#rupee-value-1 {
  position: absolute;
  left: 34.5%;
}

#rupee-value-2 {
  position: absolute;
  left: 44%;
}

#rupee-value-3 {
  position: absolute;
  left: 53.5%;
}

#rupee-value-4 {
  position: absolute;
  left: 64%;
}

#rupees {
  margin: 0 auto;
  padding: 0px;
  width: 40%;
  height: 40%;
}

#rupeeImg {
  width: 100%;
  height: 100%;
}

#float-left {
  position: absolute;
  bottom: 6%;
  left: 5%;
  color: #B00448; 
  text-shadow: -.4px -.4px 0px #2B4C7D, .4px .4px 0px #B4F4FA, .4px -.4px 0px #B4F4FA, -.4px .4px 0px #2B4C7D;
}

#float-right {
  text-align: right;
  position: absolute;
  bottom: 6%;
  right: 10%;
  color: #B00448; 
  text-shadow: -.4px -.4px 0px #B4F4FA, .4px .4px 0px #2B4C7D, .4px -.4px 0px #B4F4FA, -.4px .4px 0px #2B4C7D;
}

.counters {
  font-weight: normal;
}



@media only screen and (max-width: 960px) {
body {margin: 0 auto;
      width: 80%;}
}

@media only screen and (max-width: 768px) {
body {margin: 0 auto;
      width: 90%;}
#wrapper {min-width: 0; 
    width: auto;}
#content {margin-left: 0;
          padding: 15px;}
nav {float: none;
     width: auto;
     padding: 0;}
nav ul {text-align: center;}
nav li {display: inline;
  padding: 0 0.75em;}
footer {margin-left: 0;}
}

@media only screen and (max-width: 480px) {
body {margin: 0;
      width: 100%;}
#wrapper {min-width: 0; 
    width: auto;
    margin: 0;}
#content img {float: none;
        padding: 0;
        margin: 0.1em;}
#content ul {list-style-position:outside;}
#mobile {display: inline;}
#desktop {display: none;}
h1 {margin: 0;
    font-size: 1.5em;
    padding-left: 0.3em;}

nav ul {padding: 0;}
nav li {display: block;
  margin: 0;
  border-bottom: 2px solid #5E2605;}
nav a {display: block;}
footer {margin-left: 0;}
label {float: none;
       text-align: left;}
#gallery {display: none;}
}